@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

/* universal reset with '*' selector, border-box allows changes to padding/margin on elements without effecting the width */

/* defining a variable in the 'root' scope  */
:root {
    /* --primary-color: #047aed; */
    --primary-color: #621f69;
    --secondary-color: #78d7d7;
    --dark-color: #4A164A;
    --light-color: #ECB22E;
    --complementary-color:#BF1D3D;
    --light-complementary-color: #F6EFE8;
    --success-color: #5cb85c;
    --error-color: red;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
}

ul {
    /* remove bulletpoints on list items */
    list-style-type: none;
}

a {
    /* remove underline on links */
    text-decoration: none;
    color: #333;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    /* 10 on top and bttm margins, zero on left/right */
    padding: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    /* set the image width so no matter size it won't spill out of it's container */
    width: 100%;
}


/* Navbar */
.navbar {
    background-color: var(--primary-color);
    color: var(--light-complementary-color);
    height: 70px;
}


.navbar img {
width: 60px;
height: 60px;
margin: 0 10px;
}

.navbar ul {
    display: flex;
    
}

.navbar a  {
    color: white;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px #fff solid;
}

.navbar .flex {
    justify-content: space-around;
    overflow: hidden;
}

.navbar .logo {
    font-family: 'yellowtail';
}

.contact {
    text-align: center;
    font-weight: bolder;
    color: whitesmoke;
    background-color: var(--complementary-color);
}

/* Showtime */
.showtime {
    position: relative;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    color: white;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow:hidden;
    background: var(--primary-color) url(images/cover.png) no-repeat center center/cover;
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video-container::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.4);
}
.showtime-text {
    z-index: 10;
    animation: slideInFromTop 1s ease-in;
}

/* Showcase */
.showcase {
    background-color: var(--light-complementary-color);
    height: 400px;
    color: black;
    position: relative;
}
.showcase h1 {
    font-size: 40px;   
}

.showcase p {
    margin: 20px 0;
}

.showcase .grid {
    grid-template-columns: 55% 45%;
    gap: 30px;
    overflow: visible;
    justify-items: center;
}

.showcase-text {
    animation: slideInFromLeft 1s ease-in;
}

.showcase-form {
    position: relative;
    top: 60px;
    /* to use the top feature needs to have a fixed position */
    /* height: 350px;  */
    /* this causes the overflow of the form element from it's container, making a scroll bar appear, but we want it to spill over border so we change the showcase grid to overflow visible */
    width: 400px;
    padding: 14px;
    z-index: 100;
    animation: slideInFromRight 1s ease-in;
    justify-self: flex-end;    
}

/* .showcase-form .form-control {
    margin: 30px 0; 
} */

/* .showcase-form input[type='text'],
.showcase-form input[type='email'] {
    border:  0;
    border-bottom:  1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
     
}

.showcase-form input:focus {
    outline: none;
} */

.showcase::before, 
.showcase::after {
    content: ''; 
    /* to use these pseudo classes, req this property, but leaving blank */
    position: absolute;
    height: 100px;
    bottom: -90px;
    right: 0;
    left: 0;
    background: var(--light-color);
    /* transform: skewY(-2deg);
    -webkit-transform: skewY(-2deg);
    -moz-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg); */
}

/* Stats */
/* .stats {
    padding-top: 100px;  
    animation: slideInFromBottom 1s ease-in;
    background: var(--light-complementary-color);
}

.stats-heading {
    max-width: 500px;
    margin: auto;
}

.stats grid h3 {
    font-size: 35px;
}

.stats grid p {
    font-size: 20px;
    font-weight: bold;
} */

/* cli */

.cli {
    background: var(--primary-color);
    padding-top: 120px;
    color: whitesmoke;
}
.cli .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}



/* Cloud */

.cloud {
    background: var(--secondary-color);
}

.cloud .grid {
    grid-template-columns: repeat(3, 1fr);
    
}

/* Languages */

/* move the cards onto next row when browser is resized */
.languages .flex {
    flex-wrap: wrap;
}
.languages .card {
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform  0.2s ease-in;
}

.languages h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.languages .card:hover {
    transform: translateY(-15px);
}

/* Features */
.features-head img, .docs-head img  {
    width: 200px;
    justify-self: flex-end;
}

.features-sub-head img {
    width: 300px;
    justify-self: flex-end;
}

.features-main {
    background-color: var(--light-complementary-color);
}

.features-main .card > i {
    margin-right: 20px;
}

.features-main .grid {
    padding: 30px;   
}

/* .features-main .grid >*:first-child {
    grid-column: 1 / span 3;
}
.features-main .grid >*:nth-child(2) {
    grid-column: 1 / span 2;
} */

/* Docs */
.docs-main {
    background-color: var(--light-complementary-color);
}
.docs-main h3 {
    margin: 20px 0;
}

.docs-main .grid {
grid-template-columns: 1fr 2fr;
align-items: flex-start;
}

.docs-main nav li {
    font-size: 17px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px #ccc solid;
}

.docs-main a:hover {
    font-weight: bold;
}


/* Footer */

.footer img {
    width: 67px;
    height: 67px;
}
.footer .social a {
    margin: 0 10px;
}

/* Animations */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(+100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(+100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

/* Tablets and under */
@media(max-width: 768px) {
    .grid,
    .showcase .grid,
    .stats .grid,
    .cli .grid,
    .cloud .grid,
    .features-main .grid,
    .docs-main .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .showcase {
        height: auto;
    }
    
  

    .showcase-text {
        text-align: center;
        margin-top: 40px;
        animation: slideInFromTop 1s ease-in;
    }

    .showcase-text p {
        max-width: 100%;
        justify-self: center;
    }

    .showcase-form {
        justify-self: center;
        margin: auto;
        animation: slideInFromBottom 1s ease-in;
    }


    .cli .grid > *:first-child, 
    .features-main .grid > *:first-child,
    .features-main .grid >*:nth-child(2) {
        grid-column: 1 ;
        grid-row: 1 ;
    }

    .cli .card, .features-main .card {
        text-align: center;
    }

    .features-head, .features-sub-head, .docs-head {
        text-align: center;
    }

    .features-head img, .features-sub-head img, .docs-head img{
        justify-self: center;
    }
}


/* Mobile */
@media(max-width: 645px) {
    .navbar {
        height: 210px;
    }
    .navbar .flex {
        flex-direction: column;
    }
    .navbar div .logo {
        flex-direction: column;
        align-items: center;
        /* flex-shrink: 0; */
    }

    .navbar ul {
        padding: 10px;
        background-color: rgba(0,0,0, 0.1);
    }
}